TP17_Embedding_IvanLecomte/TP2_Embedding_IvanLecomte.json
{
  "name": "MA-CPL1_TP3_Embedding_IvanLecomte",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        176
      ],
      "id": "6ff829b7-b663-4cef-bdc4-e8703f180885",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const j = item.json;\n const messageId = j.id || '';\n const conversationId = j.conversationId || '';\n const sender = j.from || '';\n const subject = j.subject || '';\n const bodyText = j.bodyPreview || '';\n const recipients = Array.isArray(j.to) ? j.to.join(', ') : '';\n const hasAttachments = j.hasAttachments ?? false;\n const textForEmbedding =\n `search_document: Objet: ${subject}\\n` +\n `Expéditeur: ${sender}\\n` +\n `Destinataire(s): ${recipients}\\n` +\n `Message:\\n${bodyText}`;\n return {\n json: {\n message_id: messageId,\n conversation_id: conversationId,\n mailbox: 'etudiant@cpnv.me',\n sender,\n subject,\n body_text: bodyText,\n recipients,\n has_attachments: hasAttachments,\n text_for_embedding: textForEmbedding\n }\n };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        176
      ],
      "id": "9fbb710c-4212-4a95-ba40-565108720ade",
      "name": "Crée un texte Condensé du mail"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "prompt",
              "value": "={{$json.text_for_embedding}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        -48
      ],
      "id": "7c13c41d-7cbf-479e-ad28-ac2084d2b3f4",
      "name": "Calcul de l'embedding",
      "notesInFlow": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        16,
        384
      ],
      "id": "f39d69a1-da7f-4656-9a06-536bb07c172c",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "toJson",
        "binaryPropertyName": "=data",
        "options": {
          "fileName": "embeddingsJudahPeriyasamy.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        320,
        160
      ],
      "id": "a3f4c208-0c9b-4d41-a432-92e9f3da1fb8",
      "name": "Converti en fichier"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/embeddingsJudahPeriyasamy.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        496,
        160
      ],
      "id": "a7a6e166-31bb-4099-adc5-437840a94881",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -480,
        176
      ],
      "id": "219d7152-bcab-45d6-bfe2-71193a05d57c",
      "name": "Get Outlook Messages",
      "webhookId": "68671009-99ca-4e73-a49d-e0e6f52dff78"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n const j = item.json;\n const record = {\n message_id: j.message_id,\n conversation_id: j.conversation_id,\n mailbox: j.mailbox,\n sender: j.sender,\n recipients: j.recipients,\n subject: j.subject,\n body_text: j.body_text,\n has_attachments: j.has_attachments,\n text_for_embedding: j.text_for_embedding,\n embedding_model: j.model,\n embedding: Array.isArray(j.embedding) ? j.embedding[0] : [],\n created_at: new Date().toISOString()\n };\n return {\n json: {\n line: JSON.stringify(record)\n }\n };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        160
      ],
      "id": "4ddf02b6-e751-44b7-8436-e040c723b288",
      "name": "ETL - Activity - T_Data"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Outlook Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crée un texte Condensé du mail": {
      "main": [
        [
          {
            "node": "Calcul de l'embedding",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "ETL - Activity - T_Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Converti en fichier": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcul de l'embedding": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Outlook Messages": {
      "main": [
        [
          {
            "node": "Crée un texte Condensé du mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ETL - Activity - T_Data": {
      "main": [
        [
          {
            "node": "Converti en fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b6ddbad5-0186-447b-ad69-a3b4e496c978",
  "meta": {
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "UkRHS8Ky4BL3WPGY7k9fe",
  "tags": [
    {
      "name": "Dev",
      "id": "I12N4FAAZFuyXZgW",
      "updatedAt": "2026-03-27T07:49:57.022Z",
      "createdAt": "2026-03-27T07:49:57.022Z"
    }
  ]
}